
<div id="@_guid.ToString()"></div>

<style>
    .e-content {
        /* hack to make the field take the whole available space in the module independent of size settings of the field */
        width: 100% !important;
    }
</style>
